/*{border:gold 2px solid}*/
form h1{
    text-align: center;
}
#ag{
    font:100px;
    font-size:larger;
}
#c,#t{
    margin-top:5%;
}
#children,#toddler{
    border:rgb(10, 5, 54) 1px solid;
    border-radius: 10px;
}
#children label,#toddler label,#personal_info div{
    font:100px,bold,arial,verdana;
    margin-left: 1px;
    text-align: justify;
}
#children div,#toddler div{
    margin-left: 88%;
    margin-top:-3%;
    margin-bottom: 1%;
}
#q,#personal_info{
    border:black 1px solid;
    border-radius: 5px;
}
button{
    margin-top: 3%;
}
#personal_info,#toddler{
    margin-top:2%;
    margin-bottom:3%;
}
#personal_info label{
    width:20%;
}
#personal_info input{
    margin-top: 1%;
}
#A,#E{
    margin-left: 10%;
}
#AG1{
    margin-left: 5%;
}
#AG2{
    margin-left: 10%;
}





